<section>
  <div class="upper-tab-section">
      <div class="container main-container">
          <ul class="nav nav-tabs nav-justified">
              <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#Categories" role="tab">MLA Candidates </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#Trending" role="tab">MP Candidates</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#Issues" role="tab">Local Bodies</a>
              </li>
          </ul>
      </div>
  </div>
  <div class="container main-container">
      <div class="row custom-row">
          <div class="co-md-9 col-lg-9 col-xs-12 col-sm-12">
              <div class="tab-content card tab-content-section">
                  <!--.Panel 1-->
                  <div class="tab-pane fade in show active" id="Categories" role="tabpanel">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="assembly">
                                  <h5>Assembly Constituency</h5>
                                  <ul class="chips">
                                      <li>Jalandhar Cantt
                                          <span>
                                              <i class="material-icons">mode_edit</i>
                                          </span>
                                      </li>
                                  </ul>
                              </div>
                              <h1 class="main-heading">Candidates
                                  <div class="sort-option">
                                      <ul>
                                          <li>
                                              <a href="#" class="active">By Votes</a>
                                          </li>
                                          <li>
                                              <a href="#">By Votes</a>
                                          </li>
                                      </ul>
                                      <span class="sort">
                                          <i class="material-icons">sort</i>Sort -</span>
                                  </div>
                              </h1>
                          </div>
                      </div>
                      <ul class="candidate-list candidate-block">
                          <li *ngFor="let candidate of candidates">
                              <span class="candidate-pic">
                                  <span class="candidate-party">
                                      <img src="assets/images/congress.png" alt="congress.png">
                                  </span>
                                  <img src="assets/images/candidate1.png" alt="candidate.png">
                              </span>
                              <div class="candidate-info">
                                <h6 class="candidate-party-name">{{candidate.party_abbreviation}}</h6>
                                <h4>{{candidate.candidate_name}}</h4>
                              </div>
                              <div class="voste-stat">
                                  <span>
                                      <img src="assets/images/vote1.png" />VOTES</span>
                                  <h6>
                                      <span class="up-icons">
                                          <i class="fas fa-arrow-up"></i>
                                      </span>
                                      <span>{{candidate.percentage |  number : '1.2-2'}}</span>{{candidate.votes}}</h6>
                              </div>
                              <button class="btn vote-btn ripple">
                                  <img src="assets/images/vote.png" />Vote Now</button>
                          </li>
                          <li>
                              <span class="candidate-pic">
                                  <span class="candidate-party">
                                      <img src="assets/images/congress.png" alt="congress.png">
                                  </span>
                                  <img src="assets/images/candidate1.png" alt="candidate.png">
                              </span>
                              <div class="candidate-info">
                                  <h6 class="candidate-party-name">INC</h6>
                                  <h4>Rahul Gandhi</h4>

                              </div>
                              <div class="voste-stat">
                                  <span>
                                      <img src="assets/images/vote1.png" />VOTES</span>
                                  <h6>
                                      <span class="up-icons">
                                          <i class="fas fa-arrow-up"></i>
                                      </span>
                                      <span>(45%)</span>,01,011</h6>
                              </div>
                              <button class="btn vote-btn ripple">
                                  <img src="assets/images/vote.png" />Vote Now</button>
                          <!-- </li>
                          <li>
                              <span class="candidate-pic">
                                  <span class="candidate-party">
                                      <img src="assets/images/congress.png" alt="congress.png">
                                  </span>
                                  <img src="assets/images/candidate1.png" alt="candidate.png">
                              </span>
                              <div class="candidate-info">
                                  <h6 class="candidate-party-name">INC</h6>
                                  <h4>Rahul Gandhi</h4>

                              </div>
                              <div class="voste-stat">
                                  <span>
                                      <img src="assets/images/vote1.png" />VOTES</span>
                                  <h6>
                                      <span class="up-icons">
                                          <i class="fas fa-arrow-up"></i>
                                      </span>
                                      <span>(45%)</span>,01,011</h6>
                              </div>
                              <button class="btn vote-btn ripple">
                                  <img src="assets/images/vote.png" />Vote Now</button>
                          </li>
                          <li>
                              <span class="candidate-pic">
                                  <span class="candidate-party">
                                      <img src="assets/images/congress.png" alt="congress.png">
                                  </span>
                                  <img src="assets/images/candidate1.png" alt="candidate.png">
                              </span>
                              <div class="candidate-info">
                                  <h6 class="candidate-party-name">INC</h6>
                                  <h4>Rahul Gandhi</h4>

                              </div>
                              <div class="voste-stat">
                                  <span>
                                      <img src="assets/images/vote1.png" />VOTES</span>
                                  <h6>
                                      <span class="up-icons">
                                          <i class="fas fa-arrow-up"></i>
                                      </span>
                                      <span>(45%)</span>,01,011</h6>
                              </div>
                              <button class="btn vote-btn ripple">
                                  <img src="assets/images/vote.png" />Vote Now</button>
                          </li>
                          <li>
                              <span class="candidate-pic">
                                  <span class="candidate-party">
                                      <img src="assets/images/congress.png" alt="congress.png">
                                  </span>
                                  <img src="assets/images/candidate1.png" alt="candidate.png">
                              </span>
                              <div class="candidate-info">
                                  <h6 class="candidate-party-name">INC</h6>
                                  <h4>Rahul Gandhi</h4>

                              </div>
                              <div class="voste-stat">
                                  <span>
                                      <img src="assets/images/vote1.png" />VOTES</span>
                                  <h6>
                                      <span class="up-icons">
                                          <i class="fas fa-arrow-up"></i>
                                      </span>
                                      <span>(45%)</span>,01,011</h6>
                              </div>
                              <button class="btn vote-btn ripple">
                                  <img src="assets/images/vote.png" />Vote Now</button>
                          </li> -->

                      </ul>


                  </div>
                  <!--/.Panel 1-->
                  <!--.Panel 2-->
                  <div class="tab-pane fade " id="Trending" role="tabpanel">
                          <div class="row">
                                  <div class="col-md-12">
                                      <div class="assembly">
                                          <h5>Assembly Constituency</h5>
                                          <ul class="chips">
                                              <li>Jalandhar Cantt
                                                  <span>
                                                      <i class="material-icons">mode_edit</i>
                                                  </span>
                                              </li>
                                          </ul>
                                      </div>
                                      <h1 class="main-heading">Candidates
                                          <div class="sort-option">
                                              <ul>
                                                  <li>
                                                      <a href="#" class="active">By Votes</a>
                                                  </li>
                                                  <li>
                                                      <a href="#">By Votes</a>
                                                  </li>
                                              </ul>
                                              <span class="sort">
                                                  <i class="material-icons">sort</i>Sort -</span>
                                          </div>
                                      </h1>
                                  </div>
                              </div>
                              <ul class="candidate-list candidate-block">
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
  
                              </ul>
                  </div>
                  <!--/.Panel 2-->
                  <!--Panel 3-->
                  <div class="tab-pane fade" id="Issues" role="tabpanel">
                          <div class="row">
                                  <div class="col-md-12">
                                      <div class="assembly">
                                          <h5>Assembly Constituency</h5>
                                          <ul class="chips">
                                              <li>Jalandhar Cantt
                                                  <span>
                                                      <i class="material-icons">mode_edit</i>
                                                  </span>
                                              </li>
                                          </ul>
                                      </div>
                                      <h1 class="main-heading">Candidates
                                          <div class="sort-option">
                                              <ul>
                                                  <li>
                                                      <a href="#" class="active">By Votes</a>
                                                  </li>
                                                  <li>
                                                      <a href="#">By Votes</a>
                                                  </li>
                                              </ul>
                                              <span class="sort">
                                                  <i class="material-icons">sort</i>Sort -</span>
                                          </div>
                                      </h1>
                                  </div>
                              </div>
                              <ul class="candidate-list candidate-block">
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
                                  <li>
                                      <span class="candidate-pic">
                                          <span class="candidate-party">
                                              <img src="assets/images/congress.png" alt="congress.png">
                                          </span>
                                          <img src="assets/images/candidate1.png" alt="candidate.png">
                                      </span>
                                      <div class="candidate-info">
                                          <h6 class="candidate-party-name">INC</h6>
                                          <h4>Rahul Gandhi</h4>
  
                                      </div>
                                      <div class="voste-stat">
                                          <span>
                                              <img src="assets/images/vote1.png" />VOTES</span>
                                          <h6>
                                              <span class="up-icons">
                                                  <i class="fas fa-arrow-up"></i>
                                              </span>
                                              <span>(45%)</span>,01,011</h6>
                                      </div>
                                      <button class="btn vote-btn">
                                          <img src="assets/images/vote.png" />Vote Now</button>
                                  </li>
  
                              </ul>
                  </div>
              </div>
          </div>
          <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
             <sidebar></sidebar>
          </div>
          <!--/.Panel 3-->
      </div>
  </div>
</section>
<div class="overlay"></div>