<div class="assembly">
  <h5>Assembly Constituency</h5>
  <ul class="chips">
    <li>Jalandhar Cantt
      <span>
        <!-- changes  -->
        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#welcome-back">
          <i class="material-icons">mode_edit</i>
        </button>


        <!-- The Modal -->
        <div class="modal fade neta-modal" id="welcome-back">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header bb0 pb0 pt30">
                <h5 class="modal-title font-reg">Welcome Back</h5>

                <!-- <a class="close" data-dismiss="modal">&times;</a> -->
              </div>

              <!-- Modal body -->
              <div class="modal-body">

                <div class="row">
                  <div class="col">
                    <div class="cir-img-outer ">
                      <img src="assets/images/amit-shah.jpg" />
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" placeholder="Name" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                      <label for="name">Your Location</label>
                      <button type="button" class="btn light-btn " data-dismiss="modal">
                        <i class="material-icons">location_searching</i> Detect my Location</button>
                    </div>
                    <div class="border-outer">
                      <hr>
                      <span>Or</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col pb10">
                    <div class="field-title">State</div>
                    <select class="demo-default select-beast" placeholder="State">
                      <option value="4">Punjab</option>
                      <option value="1">Assam</option>
                      <option value="3">Gujrat</option>
                      <option value="5">Bihar</option>
                    </select>
                  </div>
                </div>
                <div class="row pt5">
                  <div class="col ">
                    <div class="field-title">District</div>
                    <select class="demo-default select-beast" placeholder="Select ">
                      <option value="4">Thomas Edison</option>
                      <option value="1">Nikola</option>
                      <option value="3">Nikola Tesla</option>
                      <option value="5">Arnold Schwarzenegger</option>
                    </select>
                  </div>
                  <div class="col">
                    <div class="field-title">Constituency</div>
                    <select class="demo-default select-beast" placeholder="Select ">
                      <option value="4">Thomas Edison</option>
                      <option value="1">Nikola</option>
                      <option value="3">Nikola Tesla</option>
                      <option value="5">Arnold Schwarzenegger</option>
                      <option value="2">Thomas Edison</option>
                      <option value="6">Nikola</option>
                      <option value="8">Nikola Tesla</option>
                      <option value="10">Arnold Schwarzenegger</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn green-btn active" data-dismiss="modal">Next</button>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </span>
    </li>
  </ul>
</div>