


.close{ color: #c1c4c8 !important; outline: none; border: none; box-shadow: none;}
/* .font-bold{ font-family:'pingFang-sc'; font-weight: bold !important;}
.font-reg{ font-family:'pingFang-sc'; } */
.pop-head{font-size:20px; color:#745df1; width:100%; text-align: center; margin-top: 25px;}
.pt0{ padding-top:0 !important;}
.pb0{ padding-bottom:0 !important;}
.pt5{ padding-top:5px !important;}
.mt0{ margin-top:0px !important;}
.bb0{ border-bottom: 0 !important;}
.pb20{ padding-bottom:20px !important;}
.pt30{ padding-top:30px !important;}
.neta-modal{}
.neta-modal .modal-header{  background: #f6f7f8;}
.neta-modal .modal-body{ padding: 0 2rem !important ; background: #f6f7f8;}
.neta-modal .modal-body .form-group label{color:#8c8c8d; font-size:14px; margin-bottom: 0;}
.neta-modal .modal-body .form-group span{color:#8c8c8d; font-size:14px; margin-bottom: 0; float: right; line-height: 24px;}
.neta-modal .modal-body .form-group input, .neta-modal .modal-body .form-group textarea{ box-shadow: none; color: #000000; } 
.neta-modal .modal-body .form-group input:focus, .neta-modal .modal-body .form-group textarea:focus{ border-color: #8571f1;}
.neta-modal .modal-body .form-group ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #c9c9c9; }
.neta-modal .modal-body .form-group ::-moz-placeholder { /* Firefox 19+ */ color: #c9c9c9; }
.neta-modal .modal-body .form-group :-ms-input-placeholder { /* IE 10+ */  color: #c9c9c9; }
.neta-modal .modal-body .form-group :-moz-placeholder { /* Firefox 18- */    color: #c9c9c9;  }
.field-title{ float:left; color:#8c8c8d; font-size:14px; margin-bottom: 0; width: 100%;} 
.neta-modal .modal-body select{ width: 100%; box-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding:5px; border:1px solid #ced4da; color:#000000; }
.neta-modal .modal-body select:focus{border-color: #8571f1; outline: none;}
.neta-modal .modal-body select option:hover{ background-color: #8571f1 !important;}
/* The container */
.checkbod-outer { display: block; position: relative; padding-left: 35px; margin-bottom: 18px; cursor: pointer; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-top:20px; }
/* Hide the browser's default checkbox */
.checkbod-outer input { position: absolute; opacity: 0; cursor: pointer;}
/* Create a custom checkbox */
.checkmark {position: absolute;top: 0; left: 0; height: 23px; width: 23px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #e2e2e2;}
/* On mouse-over, add a grey background color */
.checkbod-outer:hover input ~ .checkmark { border-color: #745df1;}
/* When the checkbox is checked, add a blue background */
.checkbod-outer input:checked ~ .checkmark { background-color: #745df1;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: ""; position: absolute; display: none;}
/* Show the checkmark when checked */
.checkbod-outer input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkbod-outer .checkmark:after {left: 8px; top: 1px; width: 7px; height: 16px; border: solid white; border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.neta-modal ul{ margin: 0 ;padding :0;}
.neta-modal ul li{ float:left; display: inline;}
.neta-modal ul li a{ margin-right: 20px; -webkit-border-radius: 50px; -moz-border-radius: 50px; position: relative; border-radius: 50px; padding: 5px; background: #f0f0f0; height: 40px; width:40px; float: left;  transition: box-shadow 1s; }
.neta-modal ul li a:hover{ box-shadow: 1px 3px 7px #ccc;}
.neta-modal ul li a i{ color: #6d6d6d; padding:7px;}
.neta-modal ul li a i.material-icons{ padding:2px 3px !important;}
.neta-modal .img-section{ float: left; width:100%; padding:20px 0; min-height: 90px; padding-bottom: 0;  }
.neta-modal .img-section .img-box{ float: left; width:98px;  height: 98px; margin-right:10px; border:1px solid #e2e2e2; -webkit-border-radius: 5px;  -moz-border-radius: 5px;    border-radius: 5px; margin-bottom: 10px; position: relative; }
.neta-modal .img-section .img-box img{ width:100%; height: 100%;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;    border-radius: 5px;} 
.neta-modal .img-section .img-box iframe{overflow: hidden; width: 100%; height: 100%;  border-radius: 5px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;    border-radius: 5px;}
.neta-modal .img-section .img-box a.cancel{ position: absolute; z-index: 9; top: 2px; right: 2px; }
.neta-modal .img-section .img-box a.cancel i{     font-size: 20px;  color: #666;}
.neta-modal .bottom-outer{ float: left; width:100%; padding:20px; border-top:1px solid #e2e2e2; background: #fcfcfc; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.neta-modal .bottom-outer .btn-style{ float: right; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: #745df1; color: #fff; font-size: 14px; padding:8px 25px ; margin-top:2px; box-shadow: none; transition: box-shadow 1s; } 
.neta-modal .bottom-outer .btn-style:hover{ box-shadow: 1px 3px 7px #ccc;} 
.neta-modal .bottom-outer .btn-style.disable{ opacity: 0.6; pointer-events: none;}
.neta-modal .selectize-control.single .selectize-input:after{ border-color: #745df1 transparent transparent transparent;}
.neta-modal .selectize-input{ box-shadow: none;}
.neta-modal .selectize-dropdown,.neta-modal  .selectize-input,.neta-modal .selectize-input input{ font-size: 16px;}
.neta-modal .selectize-input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */    color: #c9c9c9;  }
.neta-modal .selectize-input ::-moz-placeholder { /* Firefox 19+ */    color: #c9c9c9;  }
.neta-modal .selectize-input :-ms-input-placeholder { /* IE 10+ */    color: #c9c9c9;  }
.neta-modal .selectize-input :-moz-placeholder { /* Firefox 18- */    color: #c9c9c9;  }
.neta-modal .selectize-input .selectize-dropdown option.active{ background:#745df1 !important; color: #fff!important; }
.neta-modal .glob-error{ background: #ff3125; float: left; width: 100%; padding: 10px 2rem; color: #fff; font-size: 14px;}
.neta-modal .glob-error i{ font-size: 16px; margin-right: 3px;}
.neta-modal .form-group.error{position: relative;}
.neta-modal .error input{ border-color: #ff3125; }
.neta-modal .error .icon-outer{position: absolute; right: 1px; top: 25px; background: #ff3125; height: 20px;  width: 16px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;}
.neta-modal .error .icon-outer i{ font-size: 11px;padding: 4px 3px; color: #fff;  vertical-align: top;}
.neta-modal a.add-options{ margin-right: 20px; -webkit-border-radius: 50px; -moz-border-radius: 50px; position: relative; border-radius: 50px; padding: 5px; background: #eaebec;float: left;  transition: box-shadow 1s; }
.neta-modal a.add-options i{     font-size: 20px;  padding: 5px; color:#6d6d6d;}
.neta-modal a.add-options:hover{box-shadow: 1px 3px 7px #ccc;}

.neta-modal.post-an-issue{ background: none !important;}
.neta-modal.post-an-issue .modal-content{ background: none !important; border: none;}
.neta-modal.post-an-issue .modal-header{ background: none !important;}
.neta-modal.post-an-issue .modal-body{ background: none !important; padding: 40% 0 !important;}
.neta-modal.post-an-issue .white-box-link{ float: left; padding:1.25rem; background: #fff; min-height: 150px; width: 48%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: table; text-align: center; }
.neta-modal.post-an-issue .white-box-link:nth-child(1){margin-right: 4%;}
.neta-modal.post-an-issue .white-box-link:hover{text-decoration: none;}
.neta-modal.post-an-issue .white-box-link .text-outer{ display: table-cell; vertical-align: middle; text-align: center;}
.neta-modal.post-an-issue .white-box-link .text-outer .circle-outer{ -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; height: 80px; width:80px; background: #745df1; margin:20px auto;}
.neta-modal.post-an-issue .white-box-link .text-outer .circle-outer i{    font-size: 45px; color: #fff; margin-top: 15px;}
.neta-modal.post-an-issue .white-box-link .text-outer .head-text { font-size: 1.25rem; color: #000; text-decoration: none; margin-bottom: 5px;}
.neta-modal.post-an-issue .white-box-link .text-outer .dis-text{color:#9fa3a8; font-size: 0.90rem;}

.neta-modal.if-not-login .modal-header{ background: #fbfbfb !important; position: relative; min-height: 65px !important;}
.neta-modal.if-not-login .modal-body{ background: #fbfbfb !important;-webkit-border-bottom-right-radius: 5px;  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.neta-modal.if-not-login h5{font-size:18px; color:#000; width:100%; text-align: center;}
.neta-modal.if-not-login h6{font-size:16px; color:#a4a4a4; width:100%; text-align: center; margin-top:20px;}
.neta-modal.if-not-login .pol-img-outer{  -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; height: 85px; width:85px; border:2px solid #fff;    position: absolute; top: -43px; left: 41%; overflow: hidden; box-shadow: 1px 3px 7px #ccc  }
.neta-modal.if-not-login .pol-img-outer img{ width:100%;}
.neta-modal.if-not-login .modal-dialog{ margin-top:10%;}
.neta-modal.if-not-login .party-img-outer{  -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; height: 25px; width:25px; border:1px solid #fff;     overflow: hidden; position: absolute;left: 41%;top: 20px;}
.neta-modal.if-not-login .party-img-outer img{ width:100%;}
.neta-modal.if-not-login .mid-outer{ float: left; width:100%; padding:20px; border-top:1px solid #eeeef3; background: #fff; }
.neta-modal.if-not-login .left-sec { float: left; width:35%; margin-right: 20px;}
.neta-modal.if-not-login .right-sec { float: left; width:60%}
.neta-modal.if-not-login  .selectize-input{ border: none !important; border-bottom:1px solid #ccc !important; border-radius: 0 !important;}
.neta-modal.if-not-login  .selectize-input{ box-shadow: none !important}
.neta-modal.if-not-login .right-sec  input{ border: none !important; border-bottom:1px solid #ccc !important; border-radius: 0 !important;}
.neta-modal.if-not-login  .form-control{ border-bottom: 0 !important; border-radius: 0 !important;}
.neta-modal.if-not-login .green-btn{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: #2fd072; color: #fff; font-size: 14px; padding:8px 25px ; margin-top:2px; box-shadow: none; transition: box-shadow 1s; float: left; width: 100%; margin: 16px 0;margin-bottom: 30px; }

.neta-modal.register .modal-header{ background: #745df1 !important; position: relative; min-height: 65px !important;}
.neta-modal.register .modal-content{ border:none;}
.neta-modal.register .modal-body{ background: #fbfbfb !important;-webkit-border-bottom-right-radius: 5px;  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.neta-modal.register h2{float: left; width: 100%; text-align: center; color: #fff;  font-weight: bold; padding: 25px 0; margin: 0;}
.neta-modal.register h5{font-size:18px; color:#000; width:100%; text-align: center;}
.neta-modal.register h6{font-size:16px; color:#a4a4a4; width:100%; text-align: center; margin-top:20px;}
.neta-modal.register .modal-dialog{ margin-top:10%;}
.neta-modal.register .mid-outer{ float: left; width:100%; padding:20px; border-top:1px solid #eeeef3; background: #fff; }
.neta-modal.register .left-sec { float: left; width:35%; margin-right: 20px;}
.neta-modal.register .right-sec { float: left; width:60%}
.neta-modal.register  .selectize-input{ border: none !important; border-bottom:1px solid #ccc !important; border-radius: 0 !important;}
.neta-modal.register  .selectize-input{ box-shadow: none !important}
.neta-modal.register  .form-control{border: none !important; border-bottom: 1px solid #ccc !important; border-radius: 0 !important; }
.neta-modal.register#verify-otp input{border: none !important; border-bottom: 1px solid #ccc !important; border-radius: 0 !important; width: 55%; text-align: center; margin: 0 auto; letter-spacing: 10px;}
.neta-modal.register .green-btn{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: #2fd072; color: #fff; font-size: 14px; padding:8px 25px ; margin-top:2px; box-shadow: none; transition: box-shadow 1s; float: left; width: 100%; margin: 16px 0;margin-bottom: 30px; }
.neta-modal.register .green-btn.active{ background: #745df1 !important;}
.neta-modal.register .redo-text{color: #8c8c8d; font-size: 14px; margin-bottom: 0; float: left; width: 100%; text-align: center;}
.neta-modal.register .redo-text a{ position: relative; padding-left:15px; margin-left: 5px; color: #745df1; text-decoration: none;}
.neta-modal.register .redo-text a i{position: absolute;left: 0; font-size: 15px; top: 2px;  color: #745df1;}
.neta-modal .border-outer{ float: left; width:100%; padding: 10px 0; position: relative;}
.neta-modal .border-outer span{ position: absolute; display: block;background: #f6f7f8;top: -6px;left: 43%;z-index: 9; padding: 20px;}
.neta-modal h5{font-size:18px; color:#000; width:100%; text-align: center;}
.neta-modal .light-btn{display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5;  color: #745df1; background-color: #fff;background-clip: padding-box; border: 1px solid #eaecef; border-radius: .25rem; position: relative; }
.neta-modal .light-btn i{ font-size: 16px; vertical-align: middle;}
.neta-modal .green-btn{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: #2fd072; color: #fff; font-size: 14px; padding:8px 25px ; margin-top:2px; box-shadow: none; transition: box-shadow 1s; float: left; width: 100%; margin: 16px 0;margin-bottom: 30px; }
.neta-modal .green-btn.active{ background: #745df1 !important;}
.neta-modal .cir-img-outer{  -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; height: 85px; width:85px; border:2px solid #fff;  overflow: hidden;  padding-bottom:30px; margin: 0 auto;  margin-top: 10px; }
.neta-modal .cir-img-outer img{ width:100%;}