<aside role="slidebar">

  <div class="candidate-block popular-candidate mrtop0">
      <h3>Popular Candidates</h3>
      <ul class="candidate-list">
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
      </ul>
      <div class="more-news">
          <a href="javascript:void(0)" class="more-det">See ALL
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>
  </div>
  <div class="candidate-block Influencers-candidate">
      <h3>Popular Influencers</h3>
      <ul class="candidate-list">
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
          <li>
              <span class="candidate-pic">
                  <span class="candidate-party">
                      <img src="assets/images/congress.png" alt="congress.png" />
                  </span>
                  <img src="assets/images/candidate.png" alt="candidate.png" />
              </span>
              <div class="candidate-info">
                  <h6 class="candidate-party-name">INC</h6>
                  <h4>Rahul Gandhi</h4>
              </div>
              <button class="btn vote-btn">Vote Now</button>
          </li>
      </ul>
      <div class="more-news">
          <a href="javascript:void(0)" class="more-det">See ALL
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>
  </div>
</aside>
