<div class="info-side-block">
  <h5>Contact info</h5>
  <ul class="leader-info-list">
      <li>
          <span class="info-list-icon">
              <i class="material-icons">call</i>
          </span>
          <label>Phone</label>
          <span class="info-det">{{contact_info.phone||"not provided"}}</span>
      </li>
      <li>
          <span class="info-list-icon">
              <i class="fas fa-envelope"></i>
          </span>
          <label>email</label>
          <span class="info-det">{{contact_info.email}}</span>
      </li>
      <li>
          <span class="info-list-icon">
              <i class="fas fa-globe"></i>
          </span>
          <label>Website</label>
          <span class="info-det">{{contact_info.email}}</span>
      </li>
      <li>
          <span class="info-list-icon">
              <i class="fab fa-facebook-f"></i>
          </span>
          <label>FACEBOOK</label>
          <span class="info-det">{{contact_info.facebook}}</span>
      </li>
      <li>
          <span class="info-list-icon">
              <i class="fab fa-twitter"></i>
          </span>
          <label>Twitter</label>
          <span class="info-det">{{contact_info.twitter}}</span>
      </li>



  </ul>
</div>