<header>
    <div class="container main-container">
        <div class="logo-section">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="logo" />
            </a>
        </div>

        <button type="button" class="navbar-toggle my-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar lin1"></span>
            <span class="icon-bar lin2"></span>
            <span class="icon-bar lin3"></span>
        </button>
        <nav role="navigation">
                <ul class="navigation">
                        <li>
                            <a routerLink="/discussion" routerLinkActive="active">
                                <i class="material-icons">chat</i>Discussion</a>
                        </li>
                        <li>
                            <a routerLink="/voting-booth" routerLinkActive="active">
                                <i class="material-icons">person</i>Voting Booth</a>
                        </li>
                        <li>
                            <a routerLink="/" routerLinkActive="active">
                                <i class="material-icons">home</i>Results</a>
                        </li>
                        <li>
                            <a routerLink="/star-citizens" routerLinkActive="active">
                                <i class="material-icons">group</i>Star Citizens</a>
                        </li>
    
                  </ul>
        </nav>      
         <div class="right-part">   <!-- <div class="search-
                <input type="search" class="search-input" placeholder="Search" />
                <button class="search-btn">
                    <ss="material-icons">sear           </button>
            </div> -->
            <ul class="profile-menu">
                <!-- <li class="notification">
                    <a routerLink="/javascript( routerLinkActive="active"0)">
                        <i class="material-icons">notifications</i>
                        <span class="badges">10</span>
                    </a>"
                </li> -->              
                 <li class="profile">
                    <a routerLink="/profile" routerLinkActive="active">
                        <img src="assets/images/user.png" alt="user" />
                    </a>
                 </li>
            </ul> 
        </div>   

