<section>
    <div class="upper-tab-section">
        <div class="container main-container">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Categories" role="tab">Categories </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Trending" role="tab">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Issues" role="tab">My Issues</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container main-container">
        <div class="row custom-row">
            <div class="co-md-9 col-lg-9 col-xs-12 col-sm-12">
                <div class="tab-content card tab-content-section">
                    <!--.Panel 1-->
                    <div class="tab-pane fade in show active" id="Categories" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="main-heading">Categories</h1>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat1.png" alt="cat1" />
                                        </div>
                                        <h3>Evnvironmental Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat2.png" alt="cat2" />
                                        </div>
                                        <h3>Infrastructure</h3>
                                        <p>24 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat3.png" alt="cat3" />
                                        </div>
                                        <h3>Health Related Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat4.png" alt="cat4" />
                                        </div>
                                        <h3>Educational Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat5.png" alt="cat5" />
                                        </div>
                                        <h3>Financial Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat6.png" alt="cat6" />
                                        </div>
                                        <h3>National Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat1.png" alt="cat1" />
                                        </div>
                                        <h3>Evnvironmental Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat2.png" alt="cat2" />
                                        </div>
                                        <h3>Infrastructure</h3>
                                        <p>24 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mrbtm30">
                                <div class="category-block">
                                    <div class="category-block-content">
                                        <div class="category-icons">
                                            <img src="assets/images/cat3.png" alt="cat3" />
                                        </div>
                                        <h3>Health Related Issues</h3>
                                        <p>35 ISSUES</p>
                                    </div>
                                    <div class="category-block-footer">
                                        <a href="javascript:void(0)" class="more-det">SEE ALL
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <!--/.Panel 1-->
                    <!--.Panel 2-->
                    <div class="tab-pane fade " id="Trending" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="main-heading">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat1.png" alt="" />
                                    </span>Evnvironmental Issues
                                    <span class="issues">- 25 Issues / 7 Polls</span>
                                    <a href="javascript:void(0)" class="sort">
                                        <i class="material-icons">sort</i>Sort</a>
                                </h1>
                                <div class="issue-block">
                                    <span class="issue-date">
                                        <i class="material-icons">thumb_up</i>
                                        <em>25</em>
                                    </span>
                                    <div class="issue-block-info">
                                        <p class="issue">ISSUE
                                            <span class="hashtag">#infrastructure</span>
                                        </p>
                                        <h3>Repair of Durga Mata Mandir Road</h3>
                                        <p>Synth polaroid bitters chillwave pickled. Vegan disrupt tous led, Portland keffiyeh
                                            aesthetic food truck sriracha corn hole single-origin coffee church-key roof
                                            party.</p>
                                            <div class="issue-block-pic">
                                                    <img src="assets/images/poll-pic.png" alt="issue" />
                                                </div>
                                        <div class="all-cmnt">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier</h6>
                                                <p>05 January, 2018</p>
                                            </div>
                                            <span class="total-reply">
                                                <i class="material-icons">reply</i> 10
                                                <span>REPLIES</span>
                                            </span>
                                        </div>
                                    </div>
                                 
                                    <div class="comment-block">
                                        <div class="comment-block-list">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier
                                                    <span>, Mayor, Jalandhar City</span>
                                                </h6>
                                                <p>So that for better or for worse, we two, for the time, were wedded; and
                                                    should poor Queequeg sink to rise no more, then both usage and honour
                                                    demanded, that instead of cutting the cord, it should drag me down
                                                    in his wake.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="issue-block poll-block">
                                    <span class="issue-date">
                                        <i class="material-icons">thumb_up</i>
                                        <em>25</em>
                                    </span>
                                    <div class="issue-block-info">
                                        <p class="issue">POLL </p>
                                        <h3>From the image below, tell us who has contributed to the BJP’s long Gujarat stint?</h3>

                                        <div class="issue-block-pic">
                                            <img src="assets/images/poll-pic.png" alt="issue" />
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item">Disintegration of KHAM (Kshatriya, Harijan, Adivasi, Muslim) alliance</li>
                                            <li class="list-group-item">Patidars, shifting allegiance from Congress to BJP</li>
                                            <li class="list-group-item">Consolidation of Hindu votes after Ram Janm Bhoomi</li>
                                            <li class="list-group-item">Further polarisation after Godhra riots</li>

                                        </ul>
                                        <div class="all-cmnt">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier</h6>
                                                <p>05 January, 2018</p>
                                            </div>
                                            <span class="total-reply">
                                                <i class="material-icons">reply</i> 10
                                                <span>REPLIES</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="issue-block">
                                    <span class="issue-date">
                                        <i class="material-icons">thumb_up</i>
                                        <em>25</em>
                                    </span>
                                    <div class="issue-block-info">
                                        <p class="issue">ISSUE
                                            <span class="hashtag">#infrastructure</span>
                                        </p>
                                        <h3>Repair of Durga Mata Mandir Road</h3>
                                        <p>Synth polaroid bitters chillwave pickled. Vegan disrupt tous led, Portland keffiyeh
                                            aesthetic food truck sriracha corn hole single-origin coffee church-key roof
                                            party.</p>
                                            <div class="issue-block-pic">
                                                    <img src="assets/images/poll-pic.png" alt="issue" />
                                                </div>
                                        <div class="all-cmnt">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier</h6>
                                                <p>05 January, 2018</p>
                                            </div>
                                            <span class="total-reply">
                                                <i class="material-icons">reply</i> 10
                                                <span>REPLIES</span>
                                            </span>
                                        </div>
                                    </div>
                                   
                                    <div class="comment-block">
                                        <div class="comment-block-list">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier
                                                    <span>, Mayor, Jalandhar City</span>
                                                </h6>
                                                <p>So that for better or for worse, we two, for the time, were wedded; and
                                                    should poor Queequeg sink to rise no more, then both usage and honour
                                                    demanded, that instead of cutting the cord, it should drag me down
                                                    in his wake.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="issue-block poll-block">
                                    <span class="issue-date">
                                        <i class="material-icons">thumb_up</i>
                                        <em>25</em>
                                    </span>
                                    <div class="issue-block-info">
                                        <p class="issue">POLL </p>
                                        <h3>From the image below, tell us who has contributed to the BJP’s long Gujarat stint?</h3>

                                        <div class="issue-block-pic">
                                            <img src="assets/images/poll-pic.png" alt="issue" />
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item"><input type="radio" name="radio" id="radio1"/> <label for="radio1"> KHAM (Kshatriya, Harijan, Adivasi, Muslim) alliance</label></li>
                                            <li class="list-group-item"><input type="radio" name="radio" id="radio2"/> <label for="radio2"> Patidars, shifting allegiance from Congress to BJP</label></li>
                                            <li class="list-group-item"><input type="radio" name="radio" id="radio3"/> <label for="radio3"> Consolidation of Hindu votes after Ram Janm Bhoomi</label></li>
                                            <li class="list-group-item"><input type="radio" name="radio" id="radio4"/> <label for="radio4"> Further polarisation after Godhra riots</label></li>

                                        </ul>
                                        <div class="all-cmnt">
                                            <div class="cmnt-user">
                                                <img src="assets/images/candidate.png" alt="candidate.png" />
                                            </div>
                                            <div class="cmnt-info">
                                                <h6>Charles Frazier</h6>
                                                <p>05 January, 2018</p>
                                            </div>
                                            <span class="total-reply">
                                                <i class="material-icons">reply</i> 10
                                                <span>REPLIES</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 2-->
                    <!--Panel 3-->
                    <div class="tab-pane fade" id="Issues" role="tabpanel">

                    </div>
                </div>
            </div>
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                <aside role="slidebar">
                    <button type="button" class="btn issue-btn">
                        <i class="material-icons">queue</i>Create a New issue</button>
                    <div class="new-aside-section candidate-block">
                        <h3>Categories</h3>
                        <ul class="categories-list">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat1.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>Evnvironmental Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat2.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>Infrastructure Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat3.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>Health Related Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat4.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>Educational Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat5.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>Financial Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="cat-icons">
                                        <img src="assets/images/cat6.png" alt="cat1" />
                                    </span>
                                    <div class="cat-ino">
                                        <h5>National Issues</h5>
                                        <p>35 issues</p>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- <div class="news-aside-section candidate-block">

                        <h3>News</h3>
                        <div class="news-aside-block">
                            <h4>Under Election Commission lens, Punjab to delete 20,000 proclaimed offenders from voter list</h4>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet
                                sodales nisi, quis iaculis nulla iaculis vitae. </p>
                            <span class="news-date">20 January, 2017</span>
                        </div>
                        <div class="vertical-view news-aside-block">
                            <div class="news-img">
                                <img src="assets/images/neta.png" alt="neta.png">
                            </div>
                            <div class="news-content">
                                <h4>Will turn Punjab into revenue surplus state by 4th budget: Manpreet Badal</h4>

                                <span class="news-date">20 January, 2017</span>
                            </div>
                        </div>
                        <div class="news-aside-block horizontal-view">
                            <div class="news-img">
                                <img src="assets/images/neta1.png" alt="neta.png">
                            </div>
                            <div class="news-content">
                                <h4>Will turn Punjab into revenue surplus state by 4th budget: Manpreet Badal</h4>
                                <p>Forecasting about state's grim financial health, state finance minister …</p>
                                <span class="news-date">20 January, 2017</span>
                            </div>
                        </div>
                        <div class="more-news more-tweets">
                            <a href="javascript:void(0)" class="more-det">See All
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="new-aside-section candidate-block">
                        <h3>Popular Tweets</h3>
                        <div class="tweets-aside-block tweets-block">
                            <p> A chaos at the jalandhar cantt. Station. Passengers stranded for lack of facilities.</p>
                            <p> We looking for bullet trains right? What about the bullets fired upon the passenger with
                                such a great hospitality </p>
                            <span class="has-tags">
                                <a href="javascript:void(0)">#patheticjourneybymalwa</a>
                            </span>
                            <div class="tweets-footer">
                                <span class="tweets-img">
                                    <img src="assets/images/tweets.png" alt="tweets.png">
                                </span>
                                <div class="tweets-info">
                                    <h5>Devashish Maini</h5>
                                    <ul>
                                        <li>@DevashishMaini</li>
                                        <li>2 days ago</li>
                                    </ul>
                                </div>
                                <span class="twitter-icons">
                                    <i class="fab fa-twitter"></i>
                                </span>
                            </div>

                        </div>
                        <div class="tweets-aside-block tweets-block">
                            <p> A chaos at the jalandhar cantt. Station. Passengers stranded for lack of facilities.</p>
                            <p> We looking for bullet trains right? What about the bullets fired upon the passenger with
                                such a great hospitality </p>
                            <span class="has-tags">
                                <a href="javascript:void(0)">#patheticjourneybymalwa</a>
                            </span>
                            <div class="tweets-footer">
                                <span class="tweets-img">
                                    <img src="assets/images/tweets.png" alt="tweets.png">
                                </span>
                                <div class="tweets-info">
                                    <h5>Devashish Maini</h5>
                                    <ul>
                                        <li>@DevashishMaini</li>
                                        <li>2 days ago</li>
                                    </ul>
                                </div>
                                <span class="twitter-icons">
                                    <i class="fab fa-twitter"></i>
                                </span>
                            </div>

                        </div>
                        <div class="more-news">
                            <a href="javascript:void(0)" class="more-det">See All
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div> -->

                </aside>
            </div>
            <!--/.Panel 3-->
        </div>
    </div>
</section>
<div class="overlay"></div>