<section class="cover-pic" style="background-image:url('assets/images/bg.png')"></section>
<section>
    <div class="upper-tab-section inner-tab">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="leader-profile-pic">
                        <!-- <img src="assets/images/leader.png" alt="leader" /> -->
                        <img src="{{cloudNaryUrl}}{{info.profile_pic.cloudinary.public_id}}.jpg" style="height:100%;width:100%;" alt="leader"/>                         
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9">
                    <ul class="nav nav-tabs nav-justified profile-tab">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#About" role="tab">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Feed" role="tab">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#History" role="tab">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Manifesto" role="tab">Manifesto</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container main-container">
        <div class="row custom-row">
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div class="left-sidebar">
                    <div class="info-side-block">
                        <h3>{{party_info.candidature.candidate_name}}
                            <span class="new-badges">new</span>
                        </h3>
                        <ul>
                            <li>
                                <span class="lead-info-icons noborder">
                                    <!-- <img src=" alt="" /> -->
                             <img src="{{cloudNaryUrl}}{{party_info.party_profile_pic.cloudinary.public_id}}.jpg" style="height:auto;width:100%;"/>
                                </span>{{party_info.party_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-map-marker"></i>
                                </span>{{party_info.candidature.constituency_name}}</li>
                            <li>
                                <span class="lead-info-icons">
                                    <i class="fas fa-briefcase"></i>
                                </span>Finance Minister of Punjab</li>
                        </ul>
                        <div class="stat-data">
                            <div class="voste-stat">
                                <span>
                                    <img src="assets/images/vote1.png">VOTES</span>
                                    <h6>{{party_info.candidate_vote_count}},
                                        <span>({{party_info.vote_percentage|number:'1.2-2'}}%)</span>
                                        <span class="up-icons">
                                                <i class="fas fa-arrow-up"></i>
                                            </span></h6>
                                   
                                   
                            </div>
                            <div class="voste-stat rank">
                                    <span>Rank</span>
                                        <h6>#2 </h6>  
                                </div>
                        </div>
                        <button type="button" class="btn issue-btn">Vote Now</button>
                    </div>
                    <div class="info-side-block">
                        <h5>Contact info</h5>
                        <ul class="leader-info-list">
                            <li>
                                <span class="info-list-icon">
                                    <i class="material-icons">call</i>
                                </span>
                                <label>Phone</label>
                                <span class="info-det">{{contact_info.phone||"not provided"}}</span>
                            </li>
                            <li>
                                <span class="info-list-icon">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <label>email</label>
                                <span class="info-det">{{contact_info.email}}</span>
                            </li>
                            <li>
                                <span class="info-list-icon">
                                    <i class="fas fa-globe"></i>
                                </span>
                                <label>Website</label>
                                <span class="info-det">{{contact_info.email}}</span>
                            </li>
                            <li>
                                <span class="info-list-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                                <label>FACEBOOK</label>
                                <span class="info-det">{{contact_info.facebook}}</span>
                            </li>
                            <li>
                                <span class="info-list-icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <label>Twitter</label>
                                <span class="info-det">{{contact_info.twitter}}</span>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
            <div class="co-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="tab-content card tab-content-section">
                    <!--.Panel 1-->
                    <div class="tab-pane fade in show active" id="About" role="tabpanel">
                        <div class="leader-profile-block" *ngIf="info">
                            <h2>Info</h2>
                            <div class="panel cust-panel extra-padding">
                                <div class="panel-body ">
                                    <ul class="leader-info-list">
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info1.png" alt="info" />
                                            </span>
                                            <label>Age</label>
                                            <span class="info-det">{{info.age}}YRS</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info2.png" alt="info" />
                                            </span>
                                            <label>Gender</label>
                                            <span class="info-det">{{info.gender||"Male"}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info3.png" alt="info" />
                                            </span>
                                            <label>RELIGION</label>
                                            <span class="info-det">{{info.religion}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info4.png" alt="info" />
                                            </span>
                                            <label>CASTE</label>
                                            <span class="info-det">{{info.caste}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info5.png" alt="info" />
                                            </span>
                                            <label>EDUCATION</label>
                                            <span class="info-det">{{info.education.name}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info6.png" alt="info" />
                                            </span>
                                            <label>PROFESSION</label>
                                            <span class="info-det">{{info.profession}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info7.png" alt="info" />
                                            </span>
                                            <label>INCOME</label>
                                            <span class="info-det">
                                                <!-- <i class="fas fa-rupee-sign"></i> -->{{info.income}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info8.png" alt="info" />
                                            </span>
                                            <label>ASSETS</label>
                                            <span class="info-det">
                                               <!-- <i class="fas fa-rupee-sign"></i>-->{{info.assets}}Cr</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info9.png" alt="info" />
                                            </span>
                                            <label>LIABILITIES</label>
                                            <span class="info-det">
                                               <!-- <i class="fas fa-rupee-sign"></i>-->{{info.liabilities}}</span>
                                        </li>
                                        <li>
                                            <span class="info-list-icon">
                                                <img src="assets/images/info10.png" alt="info" />
                                            </span>
                                            <label>CRIMINAL CASES</label>
                                            <span class="info-det">{{info.criminal_cases}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <a href="javascript:void(0)" class="more-det">VIEW MORE
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="leader-profile-block">
                            <h2>Popularity Trend</h2>
                            <div class="panel cust-panel">
                                <div class="panel-body">
                                    <img src="assets/images/graph1.png" class="graph" alt="graph">
                                   
                                </div>

                            </div>
                        </div>
                        <div class="leader-profile-block">
                            <h2>Info</h2>
                            <div class="panel cust-panel extra-padding">
                                <div class="panel-body ">
                                    <div class="video-panel video">
                                        <div class="video-part">
                                            <iframe width="160" height="90" src="https://www.youtube-nocookie.com/embed/W8YsBaGW0_E?rel=0&amp;showinfo=0" frameborder="0"
                                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                        <div class="video-part-info">
                                            <h5>Video</h5>
                                            <p>In the tumultuous business of cutting-in and attending to a whale</p>
                                            <span class="news-date">20 January, 2017</span>
                                        </div>
                                    </div>
                                    <div class="video-panel audio">
                                        <div class="video-part">
                                            <iframe width="160" height="90" src="https://www.youtube-nocookie.com/embed/W8YsBaGW0_E?rel=0&amp;showinfo=0" frameborder="0"
                                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                        <div class="video-part-info">
                                            <h5>Audio</h5>
                                            <p>In the tumultuous business of cutting-in and attending to a whale</p>
                                            <span class="news-date">20 January, 2017</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a href="javascript:void(0)" class="more-det">VIEW MORE
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/.Panel 1-->
                    <!--.Panel 2-->
                    <div class="tab-pane fade" id="Feed" role="tabpanel">

                    </div>
                    <div class="tab-pane fade" id="History" role="tabpanel">

                    </div>
                    <!--/.Panel 2-->
                    <!--Panel 3-->
                    <div class="tab-pane fade" id="Manifesto" role="tabpanel">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                            to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>

                    </div>
                </div>
            </div>
            <div class="co-md-3 col-lg-3 col-xs-12 col-sm-12">
                <sidebar></sidebar>
            </div>
        </div>
        <!--/.Panel 3-->
    </div>
</section>
